<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InternalsViewer.Tests.Internals.Engine.UnitTests.Properties.Settings.TestDatabaseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>